[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

requests = "*"
sqlalchemy = "*"
"psycopg2" = "*"
nycodex = {path = ".", editable = true}
"python-dateutil" = "*"
pytz = "*"

[dev-packages]

"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"
"pytest-cov" = "*"
"testing.postgresql" = "*"
codecov = "*"
pytest = "*"







[requires]
python_version = "3.6"